@import "../../../variables";

nav {
  background-color: var(--color-dark);
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;

    li {
      background-color: var(--color-secondary);
      color: var(--color-light);
      border-radius: 40px;
      padding: 10px;

      a {
        color: inherit;
      }

      &.onpage {
        background-color: var(--color-primary);
      }
    }
  }
}
