@import "../../../variables";

nav {
  position: sticky;
  width: 100%;
  height: 2.5em;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;

    li {
      background-color: var(--color-secondary);
      color: var(--color-light);
      border-radius: 40px;
      padding: 10px;

      a {
        color: inherit;
      }

      &.onpage {
        background-color: var(--color-primary);
      }
    }
  }
}
