:root {
  --color-primary: teal;
  --color-secondary: grey;
  --color-info: lightblue;
  --color-success: lime;
  --color-danger: red;
  --color-warning: orange;
  --color-light: lightgrey;
  --color-dark: rgb(50, 50, 50);
}
